* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    height: 15vh;
    border-bottom: 1px solid #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li {
    padding: 8px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    text-decoration: underline;
    color: #e5e7eb;
}

header img {
    width: 80px;
}

/* Hero */
#hero {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1f2937;
}

.hero-text {
    margin: 30px;
}

.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img {
    padding: 32px;
    margin: 20px;
}

.hero-img img {
    width: 500px;
}

/* Information */
#information {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#information h2 {
    font-size: 24px;
    margin: 40px;
}

#info-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 200px;
    margin: 16px;
    padding: 8px;
    text-align: center;
}

/* Section */
#quote-section {
    min-height: 50vh;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote {
    display: flex;
    flex-direction: column;
}

#quote div {
    max-width: 600px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    flex-shrink: 2;
}

#quote figcaption {
    margin: 20px 0  0 auto;
    font-size: 24px;
    font-weight: bold;
    flex-shrink: 6;
}

/* Call To Action */
#call-to-action {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#red-box {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f72d1e;;
    padding: 40px;
    border-radius: 15px;
}

#red-box h3 {
    margin-bottom: 20px;
}

button {
    background-color: #f72d1e;
    padding: 10px 15px;
    border-width: 1px;
    border-color: #e5e7eb;
    border-style: solid;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #f64538;
}

/* Footer */
footer {
    height: 10vh;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 750px) {
    #quote div {
        max-width: 400px;
        font-size: 26px;
    }
    #quote figcaption {
        font-size: 14px;
    }
    #red-box {
        max-width: 400px;
        padding: 20px;
    }
}